VLLM_BASE_URL=http://127.0.0.1:8000/v1
MODEL=auto
DEMO_HOST=0.0.0.0
DEMO_PORT=8500
MAX_CONCURRENCY=2
HISTORY_TURNS=8
MAX_OUTPUT_TOKENS=1024
MAX_IMAGE_MB=10
MAX_AUDIO_MB=25
MAX_VIDEO_MB=64
SPLIT_AUDIO_FROM_VIDEO=1
AUDIO_FROM_VIDEO_SR=16000
FFMPEG_TIMEOUT=120
